* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0d6efd;
    padding: 10px 20px;
}


.about-section {
    padding: 60px 0;
    background-color: white;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-content {
    flex: 1;
}

.about-image img {
    
    width:  100%;
    border-radius: 10px;
}

.mission-section {
    background-color: #0d6efd;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.mission-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.team-section {
    padding: 60px 0;
    background-color: white;
    text-align: center;
}

.team-section h2 {
    margin-bottom: 40px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.team-member {
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    margin-top: 10px;
}

footer {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 20px 0;
}
